{% extends 'base.html.twig' %}

{% block title %}
    Add news
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.photo) }}
        {{ form_row(form.body) }}
        <div class="row form-row-submit">
            <div class="col-md-12">
                <input type="submit" value="Submit" name="submit" class="btn btn-success" />
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}